# Python caches
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
*.env

# Flask instance folder
instance/

# Build, coverage, cache
build/
dist/
*.egg-info/
htmlcov/
.coverage
.cache
.pytest_cache/

# ML model artifacts
*.h5
*.pkl
model/
checkpoints/
data/
datasets/

# Jupyter files
.ipynb_checkpoints/

# Node (if used) and static files
node_modules/
*.map

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Flask and static cache
.webassets-cache
